<md-nav-list [@slide]="sidepanel.state | async">
    <a md-list-item routerLink="/home" routerLinkActive="active" [@slide]="state">
        <md-icon>home</md-icon> <span [@reveal]="state">Home</span>
    </a>
    <a md-list-item routerLink="/generic" routerLinkActive="active" [@slide]="state">
        <md-icon>apps</md-icon> <span [@reveal]="state">Generic</span>
    </a>
    <a md-list-item routerLink="/walkthrough" routerLinkActive="active" [@slide]="state">
        <md-icon>developer_mode</md-icon> <span [@reveal]="state">Generic Infrastructure</span>
    </a>
</md-nav-list>